{{!--------------------------------------------------------- 
    Define the main presentaion component
 ---------------------------------------------------------------}}
<div class="container">
    <div class="row">
        <header class="col-sm-12">
            <h1 class="text-center" id="PageTitle">Eat Da Burger</h1>
        </header>
        <img id="BurgerImg1" src="assets/images/Anonymous-burger.svg" alt="Picture of a burger">
        <img id="BurgerImg2" src="assets/images/Anonymous-burger.svg" alt="Picture of a burger">
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <h2 class="text-center" id="BurgerWait">Burgers waiting for you</h2>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <h2 class="text-center" id="BurgerAte">Burgers you have eaten</h2>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-4">
            <table>
                {{#each burgers}}
                {{#unless devoured}}
                <tr>
                    <td class="tdWaiting">{{id}}.</td>
                    <td class="tdWaiting">{{burger_name}}</td>
                    <td class="tdWaiting"><button class="DevourButton btn btn-sm" type="button" data-id="{{id}}">Devour It!</button></td>
                </tr>
                {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-4">
            <table>
                {{#each burgers}}
                {{#if devoured}}
                <tr>
                    <td class="tdEaten">{{id}}.</td>
                    <td class="tdEaten">{{burger_name}}</td>
                </tr>
                {{/if}}
                {{/each}}
            </table>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <h2 class="col-sm-12 text-center" id="BurgerAdd">Add a Burger</h2>
        <form class="create-form col-sm-12">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="form-group text-center">
                    <label id="BurgerNamePrompt" for="nb">New Burger Name:</label>
                    <input id="BurgerNameInput" type="text" id="nb" name="name">
                </div>
                <div class="text-center">
                    <button class="btn" id="AddButton" type="button">Add Burger</button>
                </div>
            </div>
            <div class="col-sm-4">
            </div>
        </form>
    </div>

</div>